<h1 class="todo_list_title">Sharing To-Do List</h1>
<br></br>
<%= form_with(model: @todo_list, local: true) do |form| %>
    <div class="forms">
        <%= form.label :receiver %>
        <%= form.select(:receiver, options_for_select((User.where.not username: current_user.username).collect(&:username)), :required => 'required', :style => "width:250px" ) %>
        <br></br>
        <div class="actions">
        <%= form.submit %>
        </div>
    </div>

    
<% end %>
<div class="links">
    <%= link_to todo_list_path do%>
        <i class="fa fa-arrow-left fa-2x"></i>
    <% end %>
</div>