<%-# <p id="notice"><%= notice </p> - %>
<h2 class="todo_list_title"><%= @todo_list.title %></h2>
<p class="todo_list_sub_title"><%= @todo_list.description %></p>
<div class="index_row clearfix">
    <div id="todo_items_wrapper">
        <%= render @todo_list.todo_items %>
        <div id="form">
            <%= render "todo_items/form" %>
        </div>
    </div>
</div>
<div class="links">
    <%= link_to todo_lists_path do%>
    <i class="fa fa-arrow-left fa-2x"></i>
    <% end %>
    | <%= link_to edit_todo_list_path(@todo_list) do%>
    <i class="fa fa-edit fa-2x"></i>
    <% end %>
    | <%= link_to share_todo_list_get_path(@todo_list) do%>
    <i class="fa fa-share fa-2x"></i>
    <% end %>
    | <%= link_to todo_list_path(@todo_list), method: :delete, data: { confirm: "Are you sure?" } do%>
    <i class="fa fa-trash fa-2x"></i>
    <% end %>
</div>